@import url('http://fonts.googleapis.com/css?family=poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body .kl{
    font-family: 'poppins' , sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("3d-render-grunge-room-interior-with-foggy-atmosphere.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
code{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.wrapper{
    width: 420px;
    background: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0   0  5px rgb(185, 179, 184);
    color: white;
    border-radius: 10px;
    padding: 30PX 40PX; 
}
.wrapper h1 {
    font-size: 36px;
    color:rgba(176, 116, 235, 0.781);
    text-shadow: 0 0 10px   rgb(100, 10, 185);
    font-style:var(--enhanced-glow-color);
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent; 
    outline: none;
    border: 2px solid rgb(122, 122, 122);
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%) ;
    font-size: 16px;
}
.wrapper .forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0  15px;
}
.forget label input {
    accent-color: white;
    margin-right: 4px;
}
.forget span {
    color: white;
    text-align: right;
    text-decoration: none;
}
.forget p:hover{
    text-decoration: underline;
}
.wrapper button{
    width: 100%;
    /*height: 45px;
    background: rgb(0, 0, 0);
    outline: none; 
    border:none ;
    border-radius: 40px;
    box-shadow: 0 0 10 black;
    font-size: 16px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    font-weight: 700px;*/
    --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(176, 116, 235, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
   0 0 4em 1em var(--glow-spread-color),
  inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}



.wrapper .register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15PX;

}
.register span  {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
.register span :hover {
    text-decoration: underline;
}
